# CMake build artifacts
/CMakeFiles/
/CMakeCache.txt
/build/
/cmake_install.cmake
/Makefile

# Compiled binary
/NesEmulationCore

# Clangd cache
/.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
